<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Teacher</title>
</head>
<body>
<h1>Add a Teacher</h1>
<form method="post">
    {% csrf_token %}
    <label for="first_name">First name:</label><br>
    <input type="text" id="first_name" name="first_name"><br>
    <label for="last_name">Last name:</label><br>
    <input type="text" id="last_name" name="last_name"><br>
    <label for="subject">Subject:</label><br>
    <input type="text" id="subject" name="subject"><br>
    <button type="submit" style="margin: 10px">Save</button>
</form>
</body>
</html>